
@mixin hover-text-color($color: var(--text-color-gray)) {
  transition: all 0.4s ease;
  &:hover {
    opacity: 0.7;
  }
}

@mixin hover-bg ($color: var(--bg-color-gray), $duration: 0.4s) {
  transition: background-color $duration ease;
  &:hover {
    background-color: $color;
  }
}


@keyframes underline-transform {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes overline-transform {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@mixin underline-hover($color: var(--accent-color), $height: 1px, $duration: 0.4s) {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: $height;
    background-color: $color;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform $duration ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

