
@mixin hover-text-color($color: var(--text-color-gray)) {
  transition: all 0.4s ease;
  &:hover {
    opacity: 0.7;
  }
}


// Анимация для нижней полосы (слева направо, как было)
@keyframes underline-transform {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

// Новая анимация для верхней полосы (справа налево)
@keyframes overline-transform {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@mixin underline-hover($color: var(--text-color-gray), $height: 2px, $duration: 0.4s) {
  position: relative;

  // Нижняя полоса (слева направо)
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: $height;
    background-color: $color;
    transform: scaleX(0);
    transform-origin: left; // Начало анимации слева
    transition: transform $duration ease-in-out;
  }

  // Верхняя полоса (справа налево)
  &::before {
    content: '';
    position: absolute;
    right: 0; // Начнем с правой стороны
    top: -4px; // Расположим сверху
    width: 100%;
    height: $height;
    background-color: $color;
    transform: scaleX(0);
    transform-origin: right; // Начало анимации справа
    transition: transform $duration ease-in-out;
  }

  // Анимация при наведении
  &:hover {
    &::after {
      animation: underline-transform $duration ease-in-out forwards;
    }
    &::before {
      animation: overline-transform $duration ease-in-out forwards;
    }
  }
}

