:root {
  --font-family-main:  "Exo 2", sans-serif;
  --font-family-cursive: 'Original Surfer', cursive;


  --bg-color: #131416;
  --bg-color-light: #1d1c229d;
  --bg-color-white: #ffff;
  --bg-color-gray: #9e9e9e18;

  --accent-color: #FFDD95; 
  --primary-color: #63C489;
  --red-color: #cc0c0c;


  --text-color: #ffff;
  --text-color-gray: #9e9e9e;
  --text-color-dark: #000;

  --text-shadow: -0.5px -0.5px 0 #ffff;

  --font-size-s: 16px;
  --font-line-s: 22px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);


  --font-size-m: 20px;
  --font-line-m: 28px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);


  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  --font-size-xl: 30px;
  --font-line-xl: 38px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);


  --font-size-xl-logo: 38px;
  --font-line-xl-logo: 20px;
  --font-xl-logo: var(--font-size-xl-logo) / var(--font-line-xl-logo) var(--font-family-cursive);


  --font-size-xl-title: 30px;
  --font-line-xl-title: 38px;
  --font-xl-title: var(--font-size-xl-title) / var(--font-line-xl-title) var(--font-family-cursive);


  --border-radius: 12px;


}