:root {
  --font-family-main:  "Exo 2", sans-serif;
  --font-family-logo: 'Original Surfer', cursive;


  --bg-color: #171717;
  --bg-color-light: #292929;
  --bg-color-white: #ffff;

  --text-color: #ffff;
  --text-color-gray: #9e9e9e;
  --text-color-dark: #000;

  --font-size-s: 16px;
  --font-line-s: 22px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);


  --font-size-m: 19px;
  --font-line-m: 27px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);


  --font-size-l: 22px;
  --font-line-l: 30px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);


  --font-size-xl-logo: 38px;
  --font-line-xl-logo: 20px;
  --font-xl-logo: var(--font-size-xl-logo) / var(--font-line-xl-logo) var(--font-family-logo);


  --border-radius: 10px;


}