.container {
    display: flex;
    gap: 20px;

    .contentLeft {
        width: 300px;
        flex-shrink: 0;
        height: fit-content;
        position: sticky;
        margin-bottom: 20px;
    }
    .contentRight {
        flex: 1;
        min-width: 0;
    }
}