@use '/src/App/styles/animations.scss' as animations;
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    min-width: 100px;
    padding: 10px;
    border-radius: var(--border-radius);
    border: none;
    background: var(--bg-color-light);
    font: var(--font-m);
    color: var(--text-color);
    cursor: pointer;

    @include animations.hover-text-color;
}