@use '/src/App/styles/animations.scss' as animations;
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    min-width: 100px;
    padding: 10px;
    border-radius: var(--border-radius);
    border: none;
    background: var(--accent-color);
    font: var(--font-m);
    color: var(--text-color);
    cursor: pointer;

    @include animations.hover-text-color;
    
    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
        pointer-events: none; 
    }
     &--primary {
        background: var(--accent-color);
    }

    &--secondary {
        background: var(--primary-color);
    }
}

