.btn {
    padding: 10px;
    height: 50px;
    min-width: 100px;
    border-radius: var(--border);
    border: none;
    background: var(--bg-color-light);
    font: var(--font-m);
    color: var(--text-color);
    cursor: pointer;
}