.input {
    height: 50px;
    width: 100%;
    border: 1px solid rgb(92, 92, 92);
    border-radius: var(--border-radius);
    background: transparent;
    color: var(--text-color-white);
    font: var(--font-m);
    padding: 15px;

    &:focus {
        outline: none;
    }

    &--border {
        border: 1px solid rgb(92, 92, 92);
        border-radius: var(--border-radius);
    }

    &--transparent {
        border: none;
    }

     &--sm {
        font: var(--font-s);
    }

    &--m {
        font: var(--font-m);
    }

     &--l {
         font: var(--font-l);
    }

     &--xl {
         font: var(--font-xl);
    }
}