.card {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  background: var(--bg-color-light);
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }


  
  .imgWrapper {
    height: 120px;
    width: 80px;
    flex-shrink: 0; 
    
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--border-radius);
    }
  }

  .infoWrapper {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    
    .info {
      display: flex;
      flex-direction: column;
      flex-grow: 1; 
      gap: 5px;
      
      .UpperInfo {
        display: flex;
        gap: 10px;
        font: var(--font-s);
        color: var(--text-color-gray);
      }
      
      .titleName {
        font: var(--font-m);
        padding-right: 10px;
        white-space: nowrap;
        overflow: hidden;
        white-space: normal;
      }
    }

    .ratingWrapper {
      display: flex;
      align-items: start;
      gap: 8px;
      font: var(--font-s);
      margin-left: auto; 
      padding: 4px 10px; 
      background: var(--bg-color);
      border-radius: var(--border-radius);
      flex-shrink: 0; 
      .icon {
        width: 18px;
        height: 18px;
        fill: var(--text-color);
    }
    }
  }
}

.link {
  text-decoration: none;
  color: inherit;
}