.container {
        background: var(--bg-color-light);
        border-radius: var(--border-radius);
                    padding: 10px;

        .title {
            font: var(--font-m);
            margin-bottom: 10px;
        }
        .filterGroup {
            display: flex;
            flex-direction: column;
            gap: 14px;

    }
}
