@use '/src/App/styles/animations.scss' as animations;

.AppLink {
    color: var(--text-color-gray);
    text-decoration: none;
    margin-right: 30px;
    position: relative;

    @include animations.underline-hover;

    &.noAnimation {
        &::before,
        &::after {
            display: none !important;
        }
    }
}