@use '/src/App/styles/animations.scss' as animations;

.AppLink {
    color: var(--text-color-gray);
    text-decoration: none;
    margin-right: 30px;
    position: relative;

    &:hover,
    &:focus {
      color: var(--text-color);
      outline: none; // Убрать стандартный outline, если нужно
    }

    @include animations.underline-hover;

    &.noAnimation {
        &::before,
        &::after {
            display: none !important;
        }
    }
}