.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: transparent;

    .logo {
        font: var(--font-xl-logo);
        color: var(--text-color);
    }

    .links {
        display: flex;
    }
    
    .header__btn{
        display: flex;
        gap: 20px;
    }
    
      
}