.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: transparent;
    position: relative;
    z-index: 10;

    .logo {
        font: var(--font-xl-logo);
        color: var(--text-color);
    }

    .links {
        display: flex;
    }
}